Repository yooniqlo-kim/TalkTalkCare: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, deploy-backend, deploy-frontend

.gitlab-ci.yml:

image: docker:latest

stages:
  - build
  - deploy

# 모든 Job에 공통 설정을 적용
default:
  # 도커를 서비스로 사용 (docker:dind)
  services:
    - name: docker:dind
      alias: docker
  
  variables:
    # Docker in Docker(dind) 관련 변수
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2

    FF_NETWORK_PER_BUILD: "true"
    CI_DEBUG_TRACE: "true"

  before_script:
    - apk add --no-cache docker-compose
    - |
      until docker info; do
        echo "Waiting for docker to start..."
        sleep 1
      done
    - docker network create cicd_network || true
  privileged: true

build-backend:
  stage: build
  script:
    - docker-compose -f docker-compose.yml build backend
  rules:
    - changes:
        - backend/**
      when: always

build-frontend:
  stage: build
  script:
    - docker-compose -f docker-compose.yml build frontend
  rules:
    - changes:
        - frontend/**
      when: always

deploy-backend:
  stage: deploy
  script:
    - docker-compose -f docker-compose.yml up -d backend
  rules:
    - changes:
        - backend/**
      when: always

deploy-frontend:
  stage: deploy
  script:
    - docker-compose -f docker-compose.yml up -d frontend
  rules:
    - changes:
        - frontend/**
      when: always

fix: Update gitlab-ci for CI/CD
  .gitlab-ci.yml
Due: none

feat: Add Gradle Wrapper files
  backend/gradle/wrapper/gradle-wrapper.jar
Due: none

fix: Update dockerfile for CI/CD
  backend/.gitignore
  backend/Dockerfile
Due: build-backend, deploy-backend

fix: Update dockerfile for CI/CD
  backend/Dockerfile
Due: build-backend, deploy-backend

fix: Update gitlab-ci.yml for CI/CD
  .gitlab-ci.yml
Due: none

fix: Update gitlab-ci.yml for CI/CD
  .gitlab-ci.yml
  docker-compose.yml
Due: none

fix: Update gitlab-ci.yml for CI/CD
  docker-compose.yml
Due: none

refactor:deepseek 연결 성공
  backend/src/main/java/com/talktalkcare/domain/dementia/config/TalktalkAiConfig.java
  backend/src/main/java/com/talktalkcare/domain/dementia/controller/DementiaAiController.java
  backend/src/main/java/com/talktalkcare/domain/dementia/error/DementiaTestErrorCode.java
  backend/src/main/java/com/talktalkcare/domain/dementia/exception/DementiaTestException.java
  backend/src/main/java/com/talktalkcare/domain/dementia/exception/DementiaTestExceptionHandler.java
  backend/src/main/java/com/talktalkcare/domain/dementia/service/DementiaAiService.java
  backend/src/main/java/com/talktalkcare/infrastructure/repository/RedisRepository.java
Due: none

치진테 ai prompt추가
  backend/build.gradle
  backend/settings.gradle
  backend/src/main/java/com/talktalkcare/domain/dementia/controller/DementiaAiController.java
  backend/src/main/java/com/talktalkcare/domain/dementia/controller/DementiaController.java
  backend/src/main/java/com/talktalkcare/domain/dementia/entity/AiDementiaAnalysis.java
  backend/src/main/java/com/talktalkcare/domain/dementia/entity/DementiaTestResult.java
  backend/src/main/java/com/talktalkcare/domain/dementia/repository/AiAnalysisRepository.java
  backend/src/main/java/com/talktalkcare/domain/dementia/repository/DementiaRepository.java
  backend/src/main/java/com/talktalkcare/domain/dementia/service/AiAnalysisService.java
  backend/src/main/java/com/talktalkcare/domain/dementia/service/DementiaAiService.java
  backend/src/main/java/com/talktalkcare/domain/dementia/service/DementiaService.java
Due: build-backend, deploy-backend

refactor: 치진테 ai prompt 수정
  backend/src/main/java/com/talktalkcare/domain/dementia/controller/DementiaController.java
  backend/src/main/java/com/talktalkcare/domain/dementia/service/AiAnalysisService.java
Due: none

fix: Update settings for CI/CD
  .env
  .gitlab-ci.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: build-frontend, deploy-frontend

fix: Update settings for CI/CD
  .gitlab-ci.yml
Due: none

feat: 치진테 결과 전송 추가
  backend/src/main/java/com/talktalkcare/domain/dementia/controller/DementiaController.java
  backend/src/main/java/com/talktalkcare/domain/dementia/dto/DementiaTestDto.java
  backend/src/main/java/com/talktalkcare/domain/dementia/entity/DementiaTestResult.java
  backend/src/main/java/com/talktalkcare/domain/dementia/service/DementiaService.java
Due: none

fix: Update settings for CI/CD
  backend/src/main/java/com/talktalkcare/TalktalkcareApplication.java
Due: none
